// Place all the styles related to the TasksController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-tasks {
  display: flex;
  flex-direction: column;
}
#card {
  align-items: center;
  display: flex;
  h3 {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
.fa-check-circle {
  font-size: 20px;
}
#green-check {
  color: #4CE0B3;
}
#transparent-check {
  color: rgba(0, 0, 0, 0.2);
}
#one-task {
  display: flex;
  flex-direction: column;
  width: 40%;
}
#details {
  p {
    padding: 15px;
    border-radius: 5px;
    background-color: #AEDCC0;
  }
  #green-check {
    font-size: 30px;
    color: #4CE0B3;
    margin: 10px 0;
  }
  #transparent-check {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
}
